doctype html
html
    head
        title List Of Users
    body
        h4 Add User
        form(method='post' action='/newuser')
            input(type='text' name='username' placeholder='User iD')
            input(type='text' name='first' placeholder='first name')
            input(type='text' name='last' placeholder='last name')
            input(type='email' name='email' placeholder='email')
            input(type='number' name='age' placeholder='age')
            button(type='submit') Add User